/* animacion-sobre-mi.css */
.info-contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.info-contenido p {
  width: 46%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .slogan {
    text-align: center;
  }
  .sobre-mi-texto-contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  background: linear-gradient(0deg, rgba(58,74,90,0.7) 70%, rgba(125,138,151,0.08) 100%);
    color: #fff;
    font-size: larger;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
    padding: 3rem 1rem 1rem 1rem;
    box-sizing: border-box;
  }
  .sobre-mi-texto-contenido.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .info-contenido p {
    width: 100%;
    font-size: smaller;
  }
}
.info-contenido {
  display: flex;
  flex-direction: row;
  height: 450px;
  position: relative;
}
.foto {
  height: 100%;
  position: relative;
  z-index: 1;
}
.foto img {
  height: 100%;
  object-fit: cover;
  display: block;
}
