/* fonts.css */

/* Fuente Chetta Vissto */
@font-face {
  font-family: "Chetta Vissto";
  src: url("../fonts/chetta-vissto/ChettaVissto.woff2") format("woff2"),
    url("../fonts/chetta-vissto/ChettaVissto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Fuente Caviar Dreams - solo variante normal */
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/caviar_dreams/CaviarDreams.ttf") format("truetype"),
    url("../fonts/caviar_dreams/CaviarDreams.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-caviar-dreams {
  font-family: "Caviar Dreams", sans-serif;
  font-weight: normal;
}
.font-chetta-vissto {
  font-family: "Chetta Vissto", cursive;
  font-weight: normal;
}
